.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.sec {
    padding: 100px 0;
}


.sec .tit {
    margin: 0 auto 30px auto;
}


.sec .tit h2 {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 700;
}


.sec .tit p {
    font-size: 15px;
    word-break: keep-all;
    line-height: 19px;
}


body {
    min-height: 150vh;
}


.wrap {}

#header {
    border: 1px solid #ddd;
}


#header .inner {
    display: flex;
    height: 100px;
    line-height: 100px;
}


#header a {
    display: block;
}


#header .gnb {
    margin: 0 0 0 auto;
}

/* 1-4. */
#header .gnb>ul {
    display: flex;
    gap: 40px;
}

#header .service {
    margin: 0 0 0 50px;
}

/* 1-5 */
#main_visual {
    position: relative;
    height: 600px;
    background: url(../images/mainvisual01.jpg) no-repeat center center/cover;
}

/* 1-6 */
#main_visual .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* 1-7 */
#main_visual .slogan {
    margin: 0 0 10px 0;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 3px #000;
}

/* 1-8 */
#main_visual .slogan p {
    color: #fff;
    font-size: 15px;
    text-shadow: 0 0 3px #000;
}





/* 2 홈페이지 업아이콘  */
.to_top {
    position: fixed;
    bottom: 100px;
    right: 100px;

}

/* 2-1 */
.to_top i {
    background: tomato;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

/* 푸터꾸미기 */
#footer {
    padding: 50px 0;
    background: #333;
    color: #fff;
    text-align: center;
}