h1.tit {
    margin: 50px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

h2 {
    margin: 50px 0 20px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background: #f9f9f9;
}

.container {
    width: 1200px;
    margin: 0 auto;
    /* 가운데로 박스옮기기 */
    border: 1px solid #000;
    background: yellow;
}

.itm {
    background: tomato;
    color: #fff;
    text-align: center;
}

.case01 {
    /* ex로고 가로배치 */
    display: flex;
    gap: 30px;
    /* 메뉴사이띄울때 */
}

.case02 {
    /* ex메뉴 양끝으로배치 */
    display: flex;
    justify-content: space-between;
    /* 플랙스에 방향따라 바뀜 */
}

.case03 {
    display: flex;
}

.case03 .right {
    margin: 0 0 0 auto
        /* (왼쪽으로) 마진을 꽉 채운다 */
}

.case03 .right2 {
    margin: 0 0 0 100px;
    /* gap을 안쓰고 띄우는법 고급스킬 */
}

.case04 {
    display: flex;
    justify-content: center;
    /* flex end 오른쪽 붙기 center중간 등 좌우로 움직임 조절 */
    gap: 30px;

}

.top_bar {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* 라인맞추기 등 */
.top_bar .inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    line-height: 30px;
    /* 박스 안에 글자 가운데 오게 하는방법 */
}

.top_bar .customer {
    display: flex;
    margin: 0 0 0 auto;
}

.top_bar .customer li {
    padding: 0 10px;
    border-right: 1px solid #ddd;
    /* 보통 테두리 색깔 ddd로 통일한다. */
}

#header {
    display: flex;
    align-items: center;
    /* 높이는 안쓰는게 원칙이다 */
    height: 100px;
    background: #fff;
}

#header .inner {
    display: flex;
    /* 가로배치 */
    align-items: center;
    /* 메뉴 가로배치 */
    width: 1200px;
    /* 라인 맞추기 */
    margin: 0 auto;

}

/* 이름에 중간단계 안써도됨 짧게 h1은 헤더안써도됨 보통 1개이니깐 */
#header h1 {
    text-align: left;
    margin: 0;
    /* 위에 h1쓴게 있어서 margin 0 그냥 씀 */
}

#header .gnb {
    margin: 0 0 0 auto;
}

#header .right {
    margin: 0 0 0 50px;
    color: tomato;
    font-size: 30px;
    font-weight: 700;
}

/* 부를때 공식 : 헤더아래gnb 자식ul */
#header .gnb>ul {
    display: flex;
    gap: 30px;
}

/* 2.메뉴 막대바 부모요소에 기준잡음 */
#header .gnb>ul>li {
    position: relative
}

/* 1.가상요소만들기 li~li는 나빼고 형제선택자*/
#header .gnb>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 12px;
    background: #ddd;
}

#event {
    padding: 100px 0;
}

#event h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0;
    text-align: center;
}

#event p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 50px 0;
    text-align: center;
}

#event .inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px
}

#event .inner figure {
    flex: 1;
    /* 사이즈 안주고 한칸씩 차지하는 것 */
}

#event .inner figure img {
    width: 100%;
    height: 370px;
    /* 특별한 경우 아님 높이 안씀 */
    object-fit: cover;
}